body{
  background-color: #f2f2f2;
}
.btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 30px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}

.carousel-caption{
  top:30%;
  bottom: auto;
}

.statsbar{
  background-color: black;
  height: 20vh;
  margin-top: 5%;
  font-family: 'Barlow', sans-serif;
  color: white;
  text-align: center;
}

.stats{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.label{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#maininterface{
  height: 100vh;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Barlow', sans-serif;
}

.section{
  background-color: #d9d9d9;
  text-align: center;
  height: 50%;
}

.habit{
  margin-bottom: 5px;
  background-color:  #cccccc;
  text-align: left;
}

.habitinfo{
  margin-left: 5px;
}
.habitdiff{
  margin-left: 7px;
  font-size: 10px;
}

.task{
  margin-bottom: 5px;
  background-color:  #cccccc;
  text-align: left;
}

.taskinfo {
  margin-left: 5px;
}
.taskdescription{
  font-size: 10px;
  margin-left: 7px;
}
.ontime{
  font-size: 9px;
  color: gray;
}
.delayed{
  font-size: 9px;
  color: red;
}
.habit.Orange{
  background-color: orange;
}
.habit.Red{
  background-color: red;
}
.habit.Yellow{
  background-color: yellow;
}
.habit.Green{
  background-color: green;
}
.habit.Blue{
  background-color: blue;
}