body{
  background-color: #f2f2f2;
}
.btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 30px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}

.carousel-caption{
  top:30%;
  bottom: auto;
}

.statsbar{
  background-color: black;
  height: 20vh;
  margin-top: 5%;
  font-family: 'Barlow', sans-serif;
  color: white;
  text-align: center;
}

.stats{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.label{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#maininterface{
  height: 100vh;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Barlow', sans-serif;
}

.section{
  background-color: #d9d9d9;
  text-align: center;
  height: 50%;
}

.habit{
  margin-bottom: 5px;
  background-color:  #cccccc;
  text-align: left;
}

.habitinfo{
  margin-left: 5px;
}
.habitdiff{
  margin-left: 7px;
  font-size: 10px;
}

.task{
  margin-bottom: 5px;
  background-color:  #cccccc;
  text-align: left;
}

.taskinfo {
  margin-left: 5px;
}
.taskdescription{
  font-size: 10px;
  margin-left: 7px;
}
.ontime{
  font-size: 9px;
  color: gray;
}
.delayed{
  font-size: 9px;
  color: red;
}
.habit.Orange{
  background-color: #e68a00;
}
.habit.Red{
  background-color: #e62e00;
}
.habit.Yellow{
  background-color: #e6e600;
}
.habit.Green{
  background-color: #009933;
}
.habit.Blue{
  background-color: #008ae6;
}
.nav-tabs .nav-link.active{
  background-color: black;
  color: white;
  border-color: black;
}

.nav-tabs .nav-link.active:hover{
  background-color: gray;
  color: white;
  border-color: gray;
}

.nav-tabs .nav-link:hover{
  background-color: gray;
  color: white;
  border-color: gray;
}

.upbtn{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bottombtn{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.editbtn{
  border-bottom-left-radius: 0;
}
.removebtn{
  border-top-left-radius: 0;
}

.firstrow{
  margin-top: 5%;
}
.adminrows{
  background-color: black;
  height: 25vh;
  font-family: 'Barlow', sans-serif;
  color: white;
  text-align: center;
}