<!doctype html>
<html lang="en">
  <head>
    <title>Habits</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <script src="js/angular.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script>
        var habits = angular.module('habits', ['ngCookies']);

        habits.controller('TaskController', ['$scope', '$http', '$cookies', function ($scope, $http, $cookies) {
            $scope.uid = 'OfyKF3SaUrSHs9efFFn4VtI48Qx2';
            const urlBase = 'https://us-central1-architecture-project-2017.cloudfunctions.net/task/';
            const url = urlBase + "all/?uid=" + $scope.uid;
            $http.get(url).then(function (response) {
                $scope.tasks = angular.fromJson(angular.toJson(response.data));
            }, function (response) {
                console.log(response);
                $scope.data = response.data || 'Request failed';
                $scope.status = response.status;
            });

            $scope.newTask = function () {
                const url = urlBase + "new?uid=" + $scope.uid + "&title=" + $scope.title + "&descripcion=" + $scope.description + "&dueDate=" + $scope.dueDate+ "&reminder=" + $scope.reminder;
                $http.post(url).then(function (response) {
                    console.log(response);
                    $scope.title = '';
                    $scope.description = '';
                    $scope.dueDate = '';
                    $scope.reminder = '';
                    //$scope.uid = $cookies.get('uid');
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
            };

        }]);
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
  </head>
  <body ng-app="habits">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Main menu -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="font-family: 'Barlow', sans-serif;">
      <a class="navbar-brand" href="#"><img src = "img/logotext.png" height = "50px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Stats</a>
          </li>
        </ul>
        <!--Right navbar-->
        <ul class="navbar-nav">
          <li class="nav-item">
            <button type="button" class="btn btn-round btn-outline-dark" data-toggle="modal" data-target="#login">Account</button>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Container for everything else -->
    <div class="">
      <!-- Stats -->
      <div class="row statsbar">
        <div class="col">
          <div class="stats">
            <h1>N/A</h1>
            <span>Score</span>
          </div>
        </div>
        <div class="col">
          <div class="stats">
            <h1>N/A</h1>
            <span>Completed Tasks</span>
          </div>
        </div>
        <div class="col">
          <div class="stats">
            <h1>N/A</h1>
            <span>Pending Tasks</span>
          </div>
        </div>
      </div>
      <!-- Main interface -->
      <div id="maininterface" class="row">
        <!-- Habits -->
        <div class="col">
          <div class="row">
            <div class="col-auto mr-auto"> <h4>Habits</h4> </div>
            <div class="col-auto"><button type="button" class="btn btn-round btn-outline-dark" data-toggle="modal" data-target="#habitCreate"> + </button></div>
          </div>
          <div class="card section" style="margin-top: 5px; overflow-y: scroll;">
            <div class="card-body">
              <!-- Habits go here -->
              <ul class="list-unstyled">
                <li><div class="card habit">
                    <section class="row">
                      <div class="col-md-6">
                        <span class="habitinfo label">Habit text</span>
                      </div>
                      <div class="col-md-2">
                        <span class="label">0</span>
                      </div>
                      <div class="col-md-2">
                        <div class="btn-group-vertical float-right" role="group">
                        <button type="button" class="btn btn-link">✗</button>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#habitEdit">✎</button>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="btn-group-vertical float-right" role="group">
                        <button type="button" class="btn btn-danger">-</button>
                        <button type="button" class="btn btn-success">+</button>
                        </div>
                      </div>
                    </section>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Tasks -->
        <div class="col" ng-controller="TaskController">
          <!-- Create Task -->
          <div class="modal" tabindex="-1" role="dialog" id="taskCreate">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create Task</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="title">Task's name:</label>
                      <input type="text" class="form-control" id="title" placeholder="Example: Buy some ice cream" ng-model="title">
                    </div>
                    <div class="form-group">
                      <label for="description">Task's description:</label>
                      <input type="text" class="form-control" id="description" placeholder="Describe your task" ng-model="description">
                    </div>
                    <div class="form-group">
                      <label for="date">Due date:</label>
                      <input type="date" class="form-control" id="date" ng-model="dueDate">
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" ng-model="reminder">
                        Remind me
                      </label>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" ng-click="newTask()">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-auto mr-auto"> <h4>Tasks</h4> </div>
            <div class="col-auto"><button type="button" class="btn btn-round btn-outline-dark" data-toggle="modal" data-target="#taskCreate"> + </button></div>
          </div>
          <div class="card section" style="margin-top: 5px; overflow-y: scroll;">
            <div class="card-body">
              <!-- Tasks go here -->
              <ul class="list-unstyled">

                <li ng-repeat="task in tasks"><div class="card task">
                    <section class="row">
                      <div class="col-md-2">
                        <button type="button" class="btn btn-success">✔</button>
                      </div>
                      <div class="col-md-8">
                        <span class="taskinfo">{{task.title}}</span>
                      </div>
                      <div class="col-md-2" style="text-align: center;">
                        <span class="timing">On time</span>
                      </div>
                    </section>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <!-- Filters and search -->
        <div class="col">
          <h4>Filters</h4>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Search</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Create Habit -->
    <div class="modal" tabindex="-1" role="dialog" id="habitCreate">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Habit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Habit's name:</label>
                <input type="email" class="form-control" id="habit" placeholder="Example: Do more clean code.">
              </div>
              <div class="form-group">
                <label for="difficulty">Difficulty:</label>
                <select class="form-control" id="select">
                  <option>Easy</option>
                  <option>Medium</option>
                  <option>Hard</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit Habit -->
    <div class="modal" tabindex="-1" role="dialog" id="habitEdit">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Habit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Habit's name:</label>
                <input type="email" class="form-control" id="habit" placeholder="Example: Do more clean code.">
              </div>
              <div class="form-group">
                <label for="difficulty">Difficulty:</label>
                <select class="form-control" id="select">
                  <option>Easy</option>
                  <option>Medium</option>
                  <option>Hard</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
