<!doctype html>
<html lang="en">

<head>
    <title>Habits</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <script src="js/angular.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script>
        var habits = angular.module('habits', ['ngCookies']);

        habits.controller('LoginController', ['$scope', '$cookies'], function ($scope, $cookies) {
            $scope.logout = function () {
                $cookies.remove('uid');
            };
            $scope.uid = $cookies.get('uid');
            if(angular.isUndefined($scope.uid)){
                location.path('index.html');
            }
        });

        habits.controller('TaskController', ['$scope', '$http', '$cookies', function ($scope, $http, $cookies) {
            $scope.uid = 'OfyKF3SaUrSHs9efFFn4VtI48Qx2';
            $scope.uid = $cookies.get('uid');
            $scope.dueDate = new Date();
            $scope.due = true;
            $scope.reminder = false;
            $scope.start = new Date();
            $scope.start.setHours(0, 0, 0, 0);

            $scope.end = new Date();
            $scope.end.setHours(23, 59, 59, 999);

            const urlBase = 'https://us-central1-architecture-project-2017.cloudfunctions.net/task/';
            const url = urlBase + "all/?uid=" + $scope.uid;

            $scope.getTasks = function () {
                $http.get(url).then(function (response) {
                    $scope.tasks = angular.fromJson(angular.toJson(response.data));
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
            };
            $scope.getTasks();

            $scope.newTask = function () {
                const url = urlBase + "new?uid=" + $scope.uid + "&title=" + $scope.title + "&descripcion=" + $scope.description + "&dueDate=" + $scope.dueDate.getTime() + "&reminder=" + $scope.reminder;
                $http.post(url).then(function (response) {
                    console.log(response);
                    $scope.title = '';
                    $scope.description = '';
                    $scope.dueDate = '';
                    $scope.reminder = '';
                    $('#taskCreate').modal('hide');
                    $scope.getTasks();
                    //$scope.uid = $cookies.get('uid');
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
            };

            $scope.completeTask = function (key) {
                const url = urlBase + 'complete?uid=' + $scope.uid + "&tid=" + key;
                $http.post(url).then(function (response) {
                    console.log(response);
                    $scope.getTasks();
                    //$scope.uid = $cookies.get('uid');
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
            };

            $scope.deleteTask = function (key) {
                const url = urlBase + 'delete?uid=' + $scope.uid + "&tid=" + key;
                $http.post(url).then(function (response) {
                    console.log(response);
                    $scope.getTasks();
                    //$scope.uid = $cookies.get('uid');
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
            };

            $scope.updateTask = function () {
                const url = urlBase + "edit?uid=" + $scope.uid + "&tid=" + $scope.taskToEdit + "&title=" + $scope.title + "&descripcion=" + $scope.description + "&dueDate=" + $scope.dueDate.getTime() + "&reminder=" + $scope.reminder;
                $http.post(url).then(function (response) {
                    console.log(response);
                    $scope.getTasks();
                    //$scope.uid = $cookies.get('uid');
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
                $scope.taskToEdit = '';
            };

            $scope.editTask = function (key) {
                $scope.taskToEdit = key;
                $scope.title = $scope.tasks[key].title;
                $scope.description = $scope.tasks[key].descripcion;
                $scope.dueDate = $scope.tasks[key].dueDate;
                $scope.reminder = $scope.tasks[key].reminder;
            };

            $scope.getCompletedTasks = function () {
                var completedTasksCounter = 0;
                for (var key in $scope.tasks) {
                    if ($scope.tasks.hasOwnProperty(key)) {
                        angular.fromJson(angular.toJson($scope.tasks[key])).completed === true ? completedTasksCounter++ : '';
                    }
                }
                return completedTasksCounter
            };

            $scope.getPendingTasks = function () {
                var pendingTasksCounter = 0;
                for (var key in $scope.tasks) {
                    if ($scope.tasks.hasOwnProperty(key)) {
                        angular.fromJson(angular.toJson($scope.tasks[key])).completed === undefined ? pendingTasksCounter++ : '';
                    }
                }
                return pendingTasksCounter
            };

        }]);

        habits.controller('HabitsController', ['$scope', '$http', '$cookies', function ($scope, $http, $cookies) {
            const urlBase = 'http://67.205.133.19';
            $scope.uid = 'JuanID';
            $scope.uid = $cookies.get('uid');
            $scope.difficulty = 'Easy';

            $scope.newHabit = function () {
                const url = urlBase + "/habit/" + $scope.uid + "/new";
                const body = {
                    name: $scope.name,
                    difficulty: $scope.difficulty
                };
                $http.post(url, body).then(function (response) {
                    console.log(response);
                    $scope.name = '';
                    $scope.difficulty = 'Easy';
                    $('#habitCreate').modal('hide');
                    $scope.getHabits();
                    //$scope.uid = $cookies.get('uid');
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
            };

            $scope.getHabits = function () {
                const url = urlBase + "/habits/" + $scope.uid;
                $http.get(url).then(function (response) {
                    $scope.habits = angular.fromJson(angular.toJson(response.data));
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
            };

            $scope.goodHabit = function (key) {
                const url = urlBase + "/habit/markAsGood/" + $scope.uid + '/' + key;
                $http.post(url).then(function (response) {
                    $scope.getHabits();
                    console.log(response);
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
            };

            $scope.badHabit = function (key) {
                const url = urlBase + "/habit/markAsBad/" + $scope.uid + '/' + key;
                $http.post(url).then(function (response) {
                    $scope.getHabits();
                    console.log(response);
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
            };

            $scope.deleteHabit = function (key) {
                const url = urlBase + "/habit/delete/" + $scope.uid + '/' + key;
                $http.delete(url).then(function (response) {
                    $scope.getHabits();
                    console.log(response);
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
            };

            $scope.updateHabit = function () {
                const url = urlBase + "/habit/update/" + $scope.uid + '/' + $scope.habitToEdit;
                const body = {
                    userID: $scope.uid,
                    id: $scope.habitToEdit,
                    name: $scope.name,
                    difficulty: $scope.difficulty,
                    score: $scope.score,
                    range: $scope.range
                };
                $http.post(url, body).then(function (response) {
                    $scope.getHabits();
                    console.log(response);
                    $scope.habitToEdit = '';
                    $scope.name = '';
                    $scope.difficulty = '';
                    $scope.score = '';
                    $scope.range = '';
                }, function (response) {
                    console.log(response);
                    $scope.data = response.data || 'Request failed';
                    $scope.status = response.status;
                });
            };

            $scope.editHabit = function (key) {
                $scope.habitToEdit = key;
                $scope.name = $scope.habits[key].name;
                $scope.difficulty = $scope.habits[key].difficulty;
                $scope.score = $scope.habits[key].score;
                $scope.range = $scope.habits[key].range;
            };

            $scope.getHabits();

            $scope.getScore = function () {
                var scoreAcumulator = 0;
                for (var key in $scope.habits) {
                    if ($scope.habits.hasOwnProperty(key)) {
                        scoreAcumulator += angular.fromJson(angular.toJson($scope.habits[key])).score;
                    }
                }
                return scoreAcumulator;
            }

        }]);
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
</head>

<body ng-app="habits">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <!-- Main menu -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="font-family: 'Barlow', sans-serif;" ng-controller="LoginController">
        <a class="navbar-brand" href="#">
            <img src="img/logotext.png" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">

            </ul>
            <!--Right navbar-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="index.html">
                        <button ng-click="logout()" type="button" class="btn btn-round btn-outline-dark">Logout</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Container for everything else -->
    <div class="">
        <!-- Stats -->
        <div class="row statsbar">
            <div class="col" ng-controller="HabitsController">
                <div class="stats">
                    <h1>{{getScore()}}</h1>
                    <span>Score</span>
                </div>
            </div>
            <div class="col" ng-controller="TaskController">
                <div class="stats">
                    <h1>{{getCompletedTasks()}}</h1>
                    <span>Completed Tasks</span>
                </div>
            </div>
            <div class="col" ng-controller="TaskController">
                <div class="stats">
                    <h1>{{getPendingTasks()}}</h1>
                    <span>Pending Tasks</span>
                </div>
            </div>
        </div>
        <!-- Main interface -->
        <div id="maininterface" class="row">
            <!-- Habits -->
            <div class="col" ng-controller="HabitsController">
                <!-- Create Habit -->
                <div class="modal" tabindex="-1" role="dialog" id="habitCreate">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Habit</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="name">Habit's name:</label>
                                        <input ng-model="name" type="text" class="form-control" id="name" placeholder="Example: Do more clean code.">
                                    </div>
                                    <div class="form-group">
                                        <label for="difficulty">Difficulty:</label>
                                        <select class="form-control" id="difficulty" ng-model="difficulty">
                                            <option selected value="Easy">Easy</option>
                                            <option value="Medium">Medium</option>
                                            <option value="Hard">Hard</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="newHabit()" type="button" class="btn btn-primary">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto mr-auto">
                        <h4>Habits</h4>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-round btn-outline-dark" data-toggle="modal" data-target="#habitCreate">
                            + </button>
                    </div>
                </div>
                <div class="card section" style="margin-top: 5px; overflow-y: scroll;">
                    <div class="card-body">
                        <!-- Habits go here -->
                        <ul class="list-unstyled">
                            <li ng-repeat="(key, habit) in habits">
                                <div class="card habit" ng-class="habit.range">
                                    <section class="row">
                                        <div class="col-md-6">
                                            <div class="container">
                                                <div class="row">
                                                    <span class="habitinfo">{{habit.name}}</span>
                                                </div>
                                                <div class="row">
                                                    <span class="habitdiff">{{habit.difficulty}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="label">{{habit.score}}</span>
                                        </div>
                                        <div class="col-md-0">

                                        </div>
                                        <div class="col-md-4">
                                            <div class="btn-group-vertical float-right" role="group">
                                                <button ng-click="badHabit(key)" type="button" class="btn btn-danger upbtn">-</button>
                                                <button ng-click="goodHabit(key)" type="button" class="btn btn-success bottombtn">+</button>
                                            </div>
                                            <div class="btn-group-vertical float-right" role="group">
                                                <button type="button" class="btn btn-dark upbtn" data-toggle="modal" data-target="#habitEdit">✎</button>
                                                <button ng-click="deleteHabit(key)" type="button" class="btn btn-dark bottombtn">✗</button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Tasks -->
            <div class="col" ng-controller="TaskController">
                <!-- Create Task -->
                <div class="modal" tabindex="-1" role="dialog" id="taskCreate">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create Task</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="title">Task's name:</label>
                                        <input type="text" class="form-control" id="title" placeholder="Example: Buy some ice cream" ng-model="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Task's description:</label>
                                        <input type="text" class="form-control" id="description" placeholder="Describe your task" ng-model="description">
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Due date:</label>
                                        <input type="date" class="form-control" id="date" ng-model="dueDate">
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" ng-model="reminder"> Remind me
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button ng-hide="taskToEdit" type="button" class="btn btn-primary" ng-click="newTask()">Create</button>
                                <button ng-show="taskToEdit" type="button" class="btn btn-primary" ng-click="updateTask()">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto mr-auto">
                        <h4>Tasks</h4>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-round btn-outline-dark" data-toggle="modal" data-target="#taskCreate">
                            + </button>
                    </div>
                </div>
                <div class="card section" style="margin-top: 5px; overflow-y: scroll;">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" ng-click="due=true">Due</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" ng-click="due=false">Complete</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <!-- Tasks go here -->
                        <ul class="list-unstyled" ng-show="due">

                            <li ng-repeat="(key, task) in tasks" ng-hide="task.completed">
                                <div class="card task">
                                    <section class="row">
                                        <div class="col-md-2">
                                            <button ng-click="completeTask(key)" type="button" class="btn btn-success" style="height: 100%;">✔</button>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <span class="taskinfo">{{task.title}}</span>
                                            </div>
                                            <div class="row">
                                                <span class="taskdescription">{{task.descripcion}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="text-align: center;">
                                            <span class="ontime" ng-show="task.dueDate > end">On time</span>
                                            <span class="delayed" ng-show="task.dueDate > start && task.dueDate < end">To Day</span>
                                            <span class="delayed" ng-show="task.dueDate < start">Delayed</span>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="btn-group-vertical float-right" role="group">
                                                <button ng-click="deleteTask(key)" type="button" class="btn btn-dark removebtn">✗</button>
                                                <button ng-click="editTask(key)" type="button" class="btn btn-dark editbtn" data-toggle="modal" data-target="#taskCreate">✎</button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </li>

                        </ul>
                        <ul class="list-unstyled" ng-hide="due">

                            <li ng-repeat="(key, task) in tasks" ng-show="task.completed">
                                <div class="card task">
                                    <section class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <span class="taskinfo">{{task.title}}</span>
                                            </div>
                                            <div class="row">
                                                <span class="taskdescription">{{task.descripcion}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="text-align: center;">
                                            <span class="ontime" ng-show="task.dueDate > task.completedDate">On time</span>
                                            <span class="delayed" ng-show="task.dueDate < task.completedDate">Delayed</span>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="btn-group-vertical float-right" role="group">
                                                <button ng-click="deleteTask(key)" type="button" class="btn btn-dark upbtn bottombtn">✗</button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>